//- pull in bootstrap from the CDN
link(href="//csvcus.homeaway.com/rsrcs/homeaway-bootstrap-3/3.0.9/stylesheets/gt-trav.min.css" rel="stylesheet" media="screen")
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="//csvcus.homeaway.com/rsrcs/homeaway-bootstrap-3/3.0.9/javascripts/bootstrap.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.0/fullcalendar.min.js")
link(href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.0/fullcalendar.min.css" rel="stylesheet")
link(href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.0/fullcalendar.print.css" rel="stylesheet")
